@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-bg:#0f172a;
    --second-bg:#0c1427;
    --txt-color: #94a3b8;
    --txt-white:#94a3b8; /*#fff*/
    --main-color: #05c789;
    --second-color:  #05c789;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light:#94a3b8; /*#94a3b8==good */
    --second-bg-light: #cbd5e1;
    --txt-color-light:  #0e1b31;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #0f172a;
    --second-bg-dark: #202020;
    --txt-color-dark:#ccd6f6;;
    --box-shadow-dark: rgba(0, 0, 0, 0.527) 0px 5px 10px;
    --main-color-shine: #0ef;
    --second-color-shine: #0ef;
    --main-color-sweet:#f9004d;
      --second-color-sweet:#f9004d;
    --main-color-blue: #1854b4;
    --second-color-blue: #1854b4;

    --main-color-red:#3730a3;
    --second-color-red: #7c3aed;

    --main-color-cyan: #05c789;
    --second-color-cyan: #065f46;

    --main-color-green: #fa5b0f;
    --second-color-green: #fa5b0f;

    --main-color-orange: #db2777;
    --second-color-orange: #ec4899;
    --main-color-yellow: #eab308;
    --second-color-yellow: #facc15;
    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}



ul {
    list-style-type: none;
}

input {
    border: 2px solid transparent;
    outline: 0;
}

input:focus {
    border: 2px solid var(--main-color);
}

.page-header {
    margin-bottom: 40px;
    text-transform: capitalize;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.full-height {
    height: 100%;
}

.card.full-height {
    height: calc(100% - 30px);
}

.card__header {
    text-transform: capitalize;
}

.card > div ~ div {
    margin-top: 30px;
}

.card__footer {
    text-align: center;
    text-transform: capitalize;
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}
.shine-color{
      background-color: var(--main-color-shine);
    color: #fff;
}
.sweet-color{
      background-color: var(--main-color-sweet);
     color: #fff;
}
.red-color {
    background-color: var(--main-color-red);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}

.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}
.yellow-color{
    background-color: var(--main-color-yellow);
    color: #fff;
}