.rocket {
  display: inline-block;
}

.animateRocket {
  /* animation-duration: 5s; */
  animation: animate-rocket 5s linear;
   transform: scale(2) rotate(10deg);
}

@keyframes animate-rocket {
  0% {
    transform: scale(2.1) rotate(10deg);
  }
  5% {
    transform: scale(2.25) rotate(-15deg);
  }
  10% {
    transform: scale(2.5) rotate(5deg);
  }
  15% {
    transform: scale(2.75) rotate(-10deg);
  }
  20% {
    transform: scale(3) rotate(0);
  }
  100% {
    transform: scale(20) translate3D(100vw, -100vh, 0) rotate(0);
  }
}