.mobile-btn{
    color: #eee;
    
}

a{
  text-decoration: none;
}

/* 
 
/* navbar style start  */

.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
  
}
.menu-link{
  display: none;
}
.social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

.menu-link ul {
  height: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  grid-column: 4/5;
}

.social-media ul {
  height: 16rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(248, 248, 250));
  
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3rem;
}

.menu-link ul li {
  font-size: 1.4rem;
  padding: 20px;
}

.menu-link ul li a {
  text-transform: capitalize;
  color:#fff;
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color:#eeeeee;
 
  transition: 0.5s;
}
.menu-link ul li a.active{
    color: #0750cecb;
   
}
.social-media ul li {
  font-size: 1.8rem;
}

/* .social-media .hamburger-menu {
  display: none;
} */

/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
   
  }
/* responsive css style  */

  

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }

.mobile-menu-link {
    background-color: rgba(2, 2, 14, 0.904);
    height: 25rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
   
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
     
  }
 .menu-link.mobile-menu-link{
     transition: 5s ease;
     height: 100%;
  }

/* responsive css style  */

  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  /* .menu-link {
    display: none;
  } */

  .logo,
  /* .social-media ul {
    height: 7rem;
  } */

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
    
  }

  .mobile-menu-link {
    background-color: rgba(2, 2, 14, 0.904);
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
     
  }
 .menu-link.mobile-menu-link{
     transition: 5s ease;
  }

  .mobile-menu-link ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
   
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  /* .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  } */


@media (max-width: 798px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 8rem;
  }
  

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  /* hero section  */

  /* .hero-section h1 {
    font-size: 3.8rem;
  } */
}