.hi-footer{
	background-color: var(--main-bg);
}
.hi-footer .row{
	display: flex;
	flex-wrap: wrap;
}
.hi-footer ul{
	list-style: none;
}
.hi-footer ul li b{
	color: var(--main-color);
	padding: 0px 5px;
}
.hi-footer ul li{
	color: var(--txt-color);
}
.hi-footer .footer{
	
    /* box-shadow: var(--box-shadow); */
    padding: 70px 0;
	background-color: var(--main-bg);
}
.hi-footer .footer-col{
   width: 20%;
   padding: 0 15px;
}
.hi-footer .footer-col h4{
	font-size: 18px;
	color: #eaeefce3;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.hi-footer .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.hi-footer .footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.hi-footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
	font-weight: 300;
	color: var(--txt-color);
	display: block;
	transition: all 0.3s ease;
}
.hi-footer .footer-col ul li a:hover{
	color: var(--main-color);
	padding-left: 8px;
}
.hi-footer .footer-col .social-links{
    display: flex;
    flex-direction: column;
}
.hi-footer .footer-col .social-links a{
	/* display:inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease; */
}
.hi-footer .footer-col .social-links a:hover{
	color: #24262b;
	
}
.hi-footer .footer-col .social-links a i{
    padding:0px 10px;
}
.hi-footer .footer-col .social-links a  span{
    font-size: 12px;
    display: block;
    margin-left: 10px;
}
.hi-footer .footer-col .subscribe{
	width: 100%;
	height: 40px;
	display: flex;
	display: flex;justify-content: center;align-items: center;flex-wrap: nowrap;
}
.hi-footer .footer-col .subscribe input,span{
  
	height: 100%;
}
.hi-footer .footer-col .subscribe input{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 5px;
	padding: 0px 10px;
	font-size: 14px;
	border: 2px solid var(--main-color);
	
}
.hi-footer .footer-col .subscribe span{
	text-align: center;
	padding: 15px;
	background-color: var(--main-color);
	color: var(--main-bg);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}
.hi-footer .footer-col .subscribe input::placeholder{
	color:var(--main-bg);
	/* text-transform:lowercase; */
}
/*responsive*/
@media(max-width: 767px){
  .hi-footer .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .hi-footer .footer-col{
    width: 100%;
}
}



