.details{
    width: 100%;height: 100%;
    padding: 40px 0px;
}
.details-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.details-img{
    width: 100%;
    height: 100%;
}
.details-img img{
    width: 100%;height: 100%;
}
/* react */
div.post_infos{
  display: flex;
  flex-direction:column;
}
.reacts_count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reacts_count_imgs {
  display: flex;
  align-items: center;
  gap: 1px;
}
.reacts_count_imgs img {
  width: 18px;
}
.reacts_count_num {
  font-size: 14px;
  color: var(--color-secondary);
}
.to_right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-secondary);
  font-size: 15px;
}
.comments_count:hover,
.share_count:hover {
  cursor: pointer;
  text-decoration: underline;
}
.post_actions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 8px 5px 8px;
  border-top: 1px solid var(--bg-third);
  border-bottom: 1px solid var(--bg-third);
  margin: 0 10px;
  padding: 5px 0;
}
.post_action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 5px;
}
.post_action span {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 14px;
  transform: translateY(-1px);
  text-transform: capitalize;
}
.reacts_popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: -2.5rem;
  left: -4.8rem;
  background: #ccc4c4;
  padding: 5px 15px;
  border-radius: 50px;
  gap: 8px;
  box-shadow: 0 1px 2px var(--shadow-1);
}

.react {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.react:hover {
  transform: scale(1.3);
}
.react img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: none;
}
.post_action .small_react{
  width: 20px;
  height: 20px;
  animation: none;
}
.small_react img{
  height: 100%;height: 100%;
}
@media(max-width:768px){
  /* .reacts_count_imgs{
    width: 15px;
    height: 15px;
    margin: 0px 17px;
  }
  .reacts_count_imgs img {
   width: 100%;
   height: 100%;
}
  .react{
    width: 15px;
    height: 15px;
  }
  .react img{
    width: 100%;
    height: 100%;
  }
  .reacts_popup {
  
  top: -1.6rem;
  left: -3.8rem;
  background: var(--main-bg);
  box-shadow: var(--box-shadow);
  padding: 5px 7px;
  border-radius: 30px;
  gap: 3px;
  box-shadow: 0 1px 2px var(--box-shadow);
}
.react:hover {
  transform: scale(1.2);
}

.reacts_count_num {
  margin: 0px 0px 0px 16px;
  font-size: 24px;
  color: var(--main-color);
}
.small_react{
  width: 15px;
  width: 15px;
}
.small_react img{
  height: 100%;height: 100%;
} */
}
