.offer {
  padding: 100px 0px;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
  position: relative;
}
.offer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.offer-con-main{
    flex: 30%;
    /* width: 300px; */
    background-color: var(--main-bg);
    color: var(--main-bg);
    width: 90%;
    height: 230px;
    margin: 10px;
    padding:20px;
    border-radius: 10px;
     display: flex;
    justify-content: center;align-items: start;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    cursor: pointer;
     animation: box-border4 6s linear infinite;
     transition: 0.4s ease;

}
.offer-content:nth-child(even){
     animation: box-border3 8s linear infinite;
}
.offer-content:hover{
    
    transform: scale(1.03) !important;
}
.offer-content h1{
  font-size: 25px;
   
}
.offer-content a{
    font-size: 15px;
    color: rgb(86, 86, 87);
    cursor: pointer;
}
.offer-content a span svg{
   padding-top: 10px;
}
.modal-prot{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    
    padding: 40px;
    margin: 20px;
    z-index: 999999999999;
}
.modal-prot .cross{
   
   
   text-align: end;
   margin-top: -30px;
   margin-right: -20px;
   cursor: pointer;
}
.modal-title{
    text-align: center;
}
.modal-title .zt,.zz{
    color: var(--main-bg);
}
.modal-prot .modal-content{
    background-color: var(--main-color);
}
.modal-content .zzz,.zc{
  color: var(--main-bg);
}
.modal-content .zc svg{
 color: var(--main-bg);
}

@media(max-width:767px){
    .offer-con-main{
        height: auto;
    }
    .modal-prot{
        position: relative;
        left: 0;
       padding: 8px;
       top: -300px;
       
    }
    .modal-prot .cross{
   
   
   text-align: end;
   margin-top: 0px;
   margin-right: 0px;
   cursor: pointer;
}
    .modal-title h1{
        font-size: 16px !important;
    }
    .modal-title p{
        font-size: 13px !important;
    }
  .modal-prot  .modal-content p{
        font-size: 13px !important;
    }
    .modal-prot  .modal-content p span svg{
font-size: 13px !important;
    }
}