.experience-card{
    background-color: var(--main-color);
    color: var(--main-bg);
}
.experience{
    padding-top: 100px;
    background-color: var(--main-bg);
    color: var(--main-color);
    
}
.experience-1{

    background-color: var(--main-bg);
    color: var(--main-color);
   
}
.experience-1 h2{
    font-size: 50px;
    text-align: center;
}
.experience-1 p{
  
    text-align: center;
}
div.vertical-timeline::before{
    
    background-color:var(--main-color);
}
.vertical-timeline-element-content{
background-color: var(--main-color);
color: var(--main-bg);
}

/* skils */

.skills-container {
    
  display: flex;
  flex-wrap: wrap;
  width: 100vw !important;
  justify-content: center;
  align-items: center;
  padding:0px 300px !important;
}

.skillX {
  padding: 10px 20px;
  margin: 10px;
  background-color: #334155;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color:var(--main-color);
  text-align: center; /* Center the text in the skill box */
}

@media(max-width:768px){
    .skills-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw !important;
  justify-content: center;
  align-items: center;
  padding:0px 20px !important;
}
}