.about {
    height: 100%;
    width: 100%;
   padding: 150px 0px;
  background-color: var(--main-bg);
  color: var(--txt-color);
  position: relative;
}
.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-content{
    flex: 50%;
    padding: 10px 20px ;
}
.about-img{
    flex: 50%;
    height: 100%;
    width: 100%;
    padding: 10px;
   
}
.about-img img{
    height: 100%;
    width: 100%;
   
}
@media(max-width:767px){
  
    .about{
        /* margin-top: 10px; */
        padding: 10px 0px;
    }
.about-content,.about-img{
    flex: 100%;
}
}