.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  
  position:fixed;
  top: 50px;
  width: 170px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  z-index: 20000;
}
.side-toggle{
  position: fixed;
  width: 50px;
 
}

.sidebarListItemText-toggle{
  display: none;
}
.sidebarListItemText{
  transition: 0.9s linear;
}

.sidebarWrapper {
  padding: 30px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebarList .side-menu{
  display: block;
  cursor: pointer;

margin-right: 0px;
color: #f1f1f1;

}
.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebarIcon {
  margin-right: 15px;
  cursor: pointer;
  background-color: var(--main-bg);
  color: var(--main-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 4px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media(max-width:768px){
  .sidebar{
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
  }
}